// Here you can add other styles
//@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
body{
  font-family: 'Roboto';
  color: black;
  -webkit-font-smoothing: auto;
}
a {
  color: indigo;
}
.headerbg{
  background-color: #00237E;
}
.sidebar {
  // background: url(assets/img/bg_dna.png);
  background-color: rgb(25, 78, 138);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 0px;
}
.sidebar .nav-link.active {
  background-color: #00237E;
}
.sidebar .nav-link:hover {
  background-color: #00237E;
}
.sidebar .nav-link {
  color:#fff;
}
.sidebar .nav-item{
  border-bottom: 1px dotted #ccc;
}

.loginpage {
  // background:#000 url(assets/img/Artificial_Intelligence.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  opacity: 0.8;
background-position:center;
background-color: rgb(6, 26, 75) ;


}
.loginpageLogo {
  height: 95px;
  width: 265px;
  background: url(assets/img/logo.png);
  background-repeat: no-repeat;
  margin-top: 10px;
  background-size: auto 60px;
}
.background {
 
  background: url(assets/img/background.png);
  background-repeat: no-repeat;
  // margin-top: 10px;
  // background-size: auto 60px;
}
.btn-danger {
  background-color: #9b307f;
}
.btn-danger:hover {
  background-color: #dc82b6;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.kra-wrapper input[type="number"] {
  width:80px;
}

.vl {
  border-left: 6px solid purple;
  width:5px;
  height: 70px;
  margin : auto;
  padding: auto;
  top: 0;
}
.cardManager {
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.space20 { height:20px; display:block;}
.space40 { height:40px; display:block;}
.space60 { height:60px; display:block;}
.space80 { height:80px; display:block;}


.common-link a { 
  background-color: #3a2482;
  font-size: 16px;
  font-weight: 600;
  color:#fff;
   outline:none;
  border-radius: 5px;-webkit-border-radius: 5px;
  padding: 10px 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:#3a2482 1px solid;
  transition:0.5s;
}
.common-link a:hover, .common-link a:focus { 
  background-color: #a8248e;
  color:#fff;
  outline:none;
  border-radius: 5px;-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:#a8248e 1px solid;
  text-decoration: none;
}
.jrating {
  background: #eee;
  padding: 8px;
  margin:27px 0 0 0;
}
.jcomments {
  background: #eee;
  padding: 8px;
  margin:5px 0 0 0;
}

.dashboard .card-body {
  flex: 1 1 auto;
  padding: 0;
}
.dashboard-title-1{
  background-color: #53BCE2;
  padding: 5px;
  font-size: 16px;
  text-align: center;

}
.dashboard-title-1 :hover{
  background-color: #00237E;
 }
.bg-1{
  background-color: #5BCCF6;
}
.dashboard-title-2{
  background-color: #8FC052;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}
.dashboard-title-2 :hover{
  background-color: #00237E;
 }
.bg-2{
  background-color: #9CD159;
}
.text-value{
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}
.dashboard .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: white;
  background-color: #53BCE2 ;
  border-bottom: 1px solid #53BCE2;
}

.app-header .navbar-brand{
  width:auto;
}

.autoCompleteText{
margin-left: 15px;
 width:45%;
}
.autoCompletItems{
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  height:30px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #fff;
  border-bottom: #ccc 1px solid;
  cursor: pointer;
}
.autoCompleteText ul{
  z-index: 100;
  position: absolute;
  width:45%;
  padding: 0;
  background-color: #fff;
  //border-bottom: #ccc 1px solid;
  border: 1px solid grey;
}
.addMore{
  // width:30px;
  height:35px;
  line-height: 35px;
  vertical-align: middle;
  // border-radius: 50%;
  background-color: #53BCE2;
  font-size: 20px;
  font-weight: 200;
}
.table td{
  vertical-align: middle;
}


.timeSelected {
  background-color: green;
  cursor: pointer;
  color: white;
}
.timeReserved {
  background-color: #E0E0E0;
  cursor: not-allowed;
  color: white;
}
.timeNormal {
  background-color:#4FC2F7;
  cursor: pointer;
}
.timeOccupied {
  background-color:#4FC2F7;
  cursor: pointer;
  color: orange;
}
.insetBoxShadow{
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.rdw-editor-wrapper{
  border: 1px solid black;
  min-height:200px;
}